body, html{
    height: 100%;
    background-color: $color-bg;
}

#__layout {
    height: 100%;
}

#__nuxt {
    height: 100%;
}

.is-convex {
    background: #f4fbff;
    border: none;
    box-shadow:  4px 4px 8px #cfd5d9, -6px -6px 8px #ffffff;
}

.is-concave {
    background: #f4fbff;
    box-shadow: inset 6px 6px 8px #d9dfe3, inset -6px -6px 8px #ffffff;
}

button:focus {
	outline:0;
}

input:focus {
    outline: 0;
}
