body, html{
    height: 100%;
    background-color: $color-bg;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#__layout {
    height: 100%;
}

#__nuxt {
    height: 100%;
}

.is-convex {
    background: #f4fbff;
    border: none;
    box-shadow:  4px 4px 6px #cfd5d9, -4px -4px 6px #ffffff;
}

.is-convex-reverse {
    background: #f4fbff;
    border: none;
    box-shadow:  -2px -2px 2px #cfd5d9, 2px 2px 2px #ffffff;
}

.is-concave {
    background: #f4fbff;
    box-shadow: inset 3px 3px 4px #d9dfe3, inset -3px -3px 4px #ffffff;
}

.is-concave-border {
    background: #f4fbff;
    box-shadow: inset 2px 2px 2px #d9dfe3, inset -2px -2px 2px #ffffff;
}

button:focus {
	outline:0;
}

input:focus {
    outline: 0;
}

.footer {
  &-enter {
    opacity: 0;
    &-to {
      opacity: 0;
    }
    &-active {
      transition: .05s;
    }
  }
}

.page {
  &-enter {
    opacity: 0;
    &-active {
      transition: all .05s;
    }
  }
  &-leave {
    &-to {
      opacity: 0;
    }
    &-active {
      transition: all .05s;
    }
  }
}

.slide-enter {
  transform: translateX(100vw);
}

.slide-enter-active {
  transition: all .1s;
}
.slide-leave-to {
  transform: translateX(100vw);
}

.slide-leave-active {
  transition: all .1s;
}
